html {
  --border-color: #aaa;
}

body {
  background: black;
  color: white;
  margin: 0;
  font: 18px system-ui, sans-serif;
  overflow: auto;
}

body.program:fullscreen {
  cursor: none;
}

#outputEl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);
  background: #111;
}

body.program #controls {
  display: none;
}

#controls button {
  font: inherit;
  background: #333;
  border: none;
  background: none;
  color: inherit;
  padding: 0.5em 0.75em;
  margin: 0;
  display: block;
  border: 1px solid var(--border-color);
  margin-right: -1px;
  border-width: 0 1px 0 1px;
}

#controls button:focus {
  /* background: #393939; */
  outline: none;
}

#controls button:active {
  background: #fff;
  color: black;
  outline: none;
}

#controls button:not(:last-child) {
}

#errorZone {
  position: fixed;
  background: rgba(255, 0, 0, 0.5);
  font-family: monospace;
  left: 0;
  right: 0;
}

#errorZone:not(.visible) {
  display: none;
}

#errorSummary {
  white-space: pre-wrap;
  margin: 0.5em;
}

#errorSource {
  white-space: pre-wrap;
  overflow: auto;
  max-height: 40vh;
  counter-reset: line;
}

#errorSource > div {
  display: flex;
}

#errorSource > div::before {
  counter-increment: line;
  content: counter(line);
  width: 2em;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  text-align: right;
  padding-right: 0.25em;
  margin-right: 0.25em;
}

#errorSource > div.interesting {
  background: rgba(255, 255, 255, 0.2);
}

.desk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.desk > div {
  border: 2px solid white;
  margin: 0.5em;
  height: calc((100vw / 3 - 2vw)/(16/9));
  width: calc(100vw / 3 - 1em - 4px);
  display: flex;
}

@media (max-width: 800px) {
  .desk > div {
  height: calc((100vw - 2vw)/(16/9));
  width: calc(100vw - 2em - 4px);
  }
}

.desk > .program {
  border-color: red;
}

.desk .renderZone {
  flex: 1;
}

.fader {
  --value: 0;
  width: 2em;
  background: #222;
  position: relative;
}

.fader::after {
  content: "";
  display: block;
  background: #ccc;
  position: absolute;
  bottom: 0;
  height: calc(var(--value) * 100%);
  width: 100%;
}
