html {
  --border-color: #aaa;
}

body {
  background: black;
  color: white;
  margin: 0;
  font: 18px system-ui, sans-serif;
  font-variant-numeric: tabular-nums;
  overflow: hidden;
  min-height: 100vh;
}

body.live {
  font-size: 2em;
}

body:not(.ready) {
  display: none;
}

#main {
  position: relative;
}

body.program:fullscreen {
  cursor: none;
}

:fullscreen {
  -webkit-cursor-visibility: auto-hide;
}

#outputEl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

#controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);
  background: #111;
}

body.program #controls {
  display: none;
}

#controls > button, #controls > .bpm {
  font: inherit;
  background: #333;
  border: none;
  background: none;
  color: inherit;
  padding: 0.5em 0.75em;
  margin: 0;
  display: flex;
  border: 1px solid var(--border-color);
  margin-right: -1px;
  border-width: 0 1px 0 1px;
}

#controls > .bpm.beat {
  background: red;
  color: black;
}

#controls > .bpm > button {
  appearance: none;
  height: 2em;
  border: 1px solid var(--border-color);
  padding: 0 0.2em;
  border-radius: 0.2em;
  background: none;
  user-select: none;
  color: inherit;
}

#controls > .bpm > button:first-child {
  margin-right: 0.4em;
}

#controls > .bpm > button:last-child {
  margin-left: 0.5em;
}

#controls button:focus {
  /* background: #393939; */
  outline: none;
}

#controls button:active {
  background: #fff;
  color: black;
  outline: none;
}

#controls button:not(:last-child) {
}

#errorZone {
  position: fixed;
  background: rgba(255, 0, 0, 0.5);
  font-family: monospace;
  left: 0;
  right: 0;
}

#errorZone:not(.visible) {
  display: none;
}

#errorSummary {
  white-space: pre-wrap;
  margin: 0.5em;
}

#errorSource {
  white-space: pre-wrap;
  overflow: auto;
  max-height: 40vh;
  counter-reset: line;
}

#errorSource > div {
  display: flex;
}

#errorSource > div::before {
  counter-increment: line;
  content: counter(line);
  width: 2em;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  text-align: right;
  padding-right: 0.25em;
  margin-right: 0.25em;
}

#errorSource > div.interesting {
  background: rgba(255, 255, 255, 0.2);
}

.desk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.desk > div {
  margin: 0em;
  height: calc((100vw / 2 - 2vw)/(16/9));
  width: calc(100vw / 2);
  display: flex;
}

@media (max-width: 1200px) and (orientation: portrait) {
  .desk > div:first-child {
  height: calc((100vw - 2vw)/(16/9));
  width: calc(100vw);
  }
}

.desk > .program {
  border-color: red;
}

.desk .renderZone {
  flex: 1;
}

.fader {
  --value: 0;
  width: 2em;
  background: #222;
  position: relative;
}

.fader::after {
  content: "";
  display: block;
  background: #ccc;
  position: absolute;
  bottom: 0;
  height: calc(var(--value) * 100%);
  width: 100%;
}

#fpsZone {
  flex: 1;
  display: flex;
}

#fpsZone > div {
  text-align: center;
  border: 1px solid var(--border-color);
  margin-right: -1px;
  border-width: 0 1px 0 0;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  transition: background 0.1s;
}

#fpsZone > div.drop {
  transition: none;
  background: red;
}

#fpsZone .fps {
  font-family: monospace;
  font-weight: bold;
}

#fpsZone h2 {
  font-size: 1em;
  margin: 0 0.5em 0 0;
  font-weight: normal;
}

#editorPreview {
  display: none;
  transition: all 0.2s;

  font-size: 28px;
  position: absolute;
  overflow: hidden;
  top: 1em;
  left: 1em;
  opacity: 0.8;
  height: 50vh;
  width: 100vw;
  /* background: rgba(0, 0, 0, 20%); */
  border-radius: 10px;
  display: block;
  display: none;
  padding: 0em;
  box-sizing: border-box;
  text-shadow:
    1px 0 1px black,
    -1px 0 1px black,
    0 1px 1px black,
    0 -1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black,
    1px 1px 1px black;
}

.cursorTok {
  border-right: 0.6em solid red;
  margin-right: -0.6em;
}

@keyframes pulse-border {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: red;
  }
}

html.pirateSesh #outputEl {
  left: 610px;
  top: 23px;
  width: 100vh;
  transform-origin: 50% 40%;
  transform: perspective(220vw) rotateX(18deg) rotateY(-31deg) rotateZ(3deg) scale(0.99);
}

html.spoopy #outputEl {
  left: 0;
  top: 71vh;
  height: 50vh;
  transform-origin: 100% 104%;
  transform: perspective(29vw) rotateX(0deg) rotateY(-14deg) rotateZ(0deg) scale(5);
}

html.theNet #outputEl {
  left: 0;
  top: 0em;
  height: 86vh;
  /* transform-origin: 100% 104%; */
  /* transform: perspective(29vw) rotateX(0deg) rotateY(-14deg) rotateZ(0deg) scale(5); */
}

html.h0l0 #outputEl {
  /* margin-top: 62vh; */
  /* height: 19vh; */
  /* transform-origin: 98% 20%; */
  /* transform: perspective(91vw) rotateX(0deg) rotateY(52deg) rotateZ(0deg) scale(1); */
}

html.shadeWall #outputEl {
  left: 26vw;
  top: 0em;
  width: 43vw;
  /* transform-origin: 100% 104%; */
  /* transform: perspective(29vw) rotateX(0deg) rotateY(-14deg) rotateZ(0deg) scale(5); */
}

@font-face {
  font-family: MatrixCode;
  src: url(assets/matriculate/Matrix Code Font.ttf);
}

